.open-text {
  margin: 0 auto;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &.active {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
  }
}
